@import "./../global.scss";

.header {
  background: $white;
  margin-bottom: 1.45rem;
  box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.5);

  * {
    display: inline;
  }
}

.headerContainer {
  margin: 0 auto;
  max-width: 1920px;
  // padding: 1.45rem 1.0875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  color: $black;
  text-decoration: none;
}

.logo {
  margin: 0;
  text-align: center;
}

.navBar {
  text-align: center;
  .navList {
    list-style-type: disc;
  }
}

.navItem {
  margin: 42px;

  .navLink {
    color: $black;
    text-decoration: none;
    font-size: 20px;
  }
}

.socialItem {
  margin: 24px;
}

.socialLink {
  font-size: 40px;
  color: $gold;
}
